// Colors
@primary-color: #1890ff;
@secondary-color: #52c41a;
@text-color: #ffffff;
@background-color: #000000;
@transparent-background-color: rgba(0,0,0,.1);
@mask-background-color: #000000;

// Breakpoints
@mobile-SE: 320px;
@mobile-7plus: 599px;
@mobile: 768px;
@tablet: 1024px;
@desktop: 1440px;

// Spacing
@spacing-xs: 4px;
@spacing-sm: 8px;
@spacing-md: 16px;
@spacing-lg: 24px;
@spacing-xl: 32px;
@spacing-xxl: 48px;
@spacing-xxxl: 64px;

// Layout
@header-height: 192px;
@header-height-sm: 94px;
@footer-height: 60px;

//position
@header-z-index: 1000;
@float-mask-z-index: 1001;
@float-button-z-index: 1002;